html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.content-wrapper {
    display: flex;
}

.filter-menu {
    width: 350px;
    background-color: rgb(0, 0, 0);
}

.title {

}

.page {

}

.menu-header {
    height: 50px;
    background-color: rgb(64, 64, 64);
}

#map {
    width: 1000px;
    height: 800px;
}
