html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.content-wrapper {
    background-color: blue;
    width: 100vw;
    height: 100vh;
}
